In [2]:
from bs4 import BeautifulSoup as bs
import requests

url = "https://www.espn.com/tennis/rankings/_/type/wta"
data = requests.get(url).text
soup = bs(data, "html.parser")
ths = soup.find_all("th")
trs = soup.find_all("tr")
player_info_list = []

def clean_tag(soup):
    for tag in soup.find_all("sup"):
        tag.decompose()

def get_player_info(url):
    data = requests.get(full_url).text
    soup = bs(data, "html.parser")
    table = soup.find(class_="infobox vcard")
    rows = soup.find_all("tr")
    clean_tag(soup)
    player = {}

    for index, row in enumerate(rows):
        if len(row) == 1:
            continue
        elif index <= 20:
            try:
                dict_key = row.find("th").get_text(" ", strip=True).replace("\xa0", " ").replace("\n", " ")
                dict_value = row.find("td").get_text(" ", strip=True).replace("\xa0", " ").replace("\n", " ")
                player[dict_key] = dict_value
            except Exception as e:
                print(f"{index}:{e}")
        else:
            continue
    return player

for index, tr in enumerate(trs):
    player_info = {}
    if index == 0:
        continue
    else:
        tds = tr.find_all("td")
        row = [td.get_text() for td in tds]
        player_info["Rank"] = row[0]
        player_name = row[2]
        player_info["Name"] = player_name
        player_info["Points"] = row[3]
        wiki_url = "https://en.wikipedia.org/wiki/"
        relative_url = player_name.replace(" ", "_")
        full_url = wiki_url + relative_url
        player = get_player_info(full_url)
        for k, v in player.items():
            player_info[k] = v
    player_info_list.append(player_info)

0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
1:'NoneType' object has no attribute 'get_text'
2:'NoneType' object has no attribute 'get_text'
7:'NoneType' object has no attribute 'get_text'
8:'NoneType' object has no attribute 'get_text'
9:'NoneType' object has no attribute 'get_text'
10:'NoneType' object has no attribute 'get_text'
11:'NoneType' object has no attribute 'get_text'
12:'NoneType' object has no attribute 'get_text'
13:'NoneType' object has no attribute 'get_text'
14:'NoneType' object has no attribute 'get_text'
15:'NoneType' object has no attribute 'get_text'
16:'NoneType' object has no attribute 'get_text'
17:'NoneType' object has no attribute 'get_text'
18:'NoneType' object has no attribute 'get_text'
19:'NoneType' object has no attribute 'get_text'
20:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
1:'NoneType' object has no attribute 'get_text'
2:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
1:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
1:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'
19:'NoneType' object has no attribute 'get_text'
20:'NoneType' object has no attribute 'get_text'
0:'NoneType' object has no attribute 'get_text'

In [3]:
import re

birth_date = r"\d{4}-\d{2}-\d{2}"
percentage = r"\d\d\.\d"
number = r"\d+(,\d{3})*\.*\d*"
height= r"\d\.\d{2}"
height2=r"\d{3}"
url=r"(http)?(://)?(www.)?[a-zA-Z0-9 -._]*\.\w+"

In [4]:
def get_birthplace(phrase):
    if phrase:
        return " ".join(str(phrase).split(" ")[8:])
    else:
        return None
    
def get_birthday(phrase):
    if re.search(birth_date, str(phrase)):
        return re.search(birth_date, str(phrase)).group()
    else:
        return None

def get_height(phrase):
    if re.search(height, str(phrase)):
        return float(re.search(height, phrase).group())
    elif re.search(height2, str(phrase)):
        return int(re.search(height2, phrase).group())/100
    else:
        return None
    
def get_percentage(phrase):
    if re.search(percentage, str(phrase)):
        return float(re.search(percentage, phrase).group())
    else:
        return None
    
def get_prize(money):
    if re.search(number, str(money)):
        return int(re.search(number, money).group().replace(",", ""))
    else:
        return None  
    
def get_website(phrase):
    if re.search(url, str(phrase)):
        return re.search(url, str(phrase)).group()
    else:
        return None

In [5]:
import pandas as pd
df = pd.DataFrame(player_info_list)

df["Birthday"]=df["Born"].apply(lambda x: get_birthday(x))
df["Birthplace"]=df["Born"].apply(lambda x: get_birthplace(x))
df["height m"]=df["Height"].apply(lambda x: get_height(x))
df["Win Percentage"]=df["Career record"].apply(lambda x: get_percentage(x))
df["prize"]=df["Prize money"].apply(lambda x: get_prize(x))
df["website"]=df["Official website"].apply(lambda x: get_website(x))

In [6]:
from datetime import datetime as dt
today = dt.now().strftime("%y_%m_%d")
df.to_excel(f"WTA_Player_{today}.xlsx", index=False, sheet_name=f"Top150_WTA_{today}")

In [7]:
df.head

<bound method NDFrame.head of     Rank                 Name Points Country (sports)           Residence  \
0      1          Iga Swiatek  8,631           Poland     Raszyn , Poland
1      2      Anett Kontaveit  4,511          Estonia    Viimsi , Estonia
2      3           Ons Jabeur  4,340          Tunisia               Tunis
3      4         Paula Badosa  4,245            Spain         Dubai , UAE
4      5        Maria Sakkari  4,205           Greece                 NaN
..   ...                  ...    ...              ...                 ...
145  146      Leolia Jeanjean    435           France                 NaN
146  147  Despina Papamichail    433           Greece      Ancona , Italy
147  148  Ysaline Bonaventure    432          Belgium  Stavelot , Belgium
148  149      Kateryna Baindl    429          Ukraine     Odesa , Ukraine
149  150          Fiona Ferro    427           France   Valbonne , France

                                                  Born               Height  \
0    ( 2001-05-31 ) 31 May 2001 (age 21) Warsaw , P...   1.76 m (5 ft 9 in)
1    ( 1995-12-24 ) 24 December 1995 (age 26) Talli...   1.74 m (5 ft 9 in)
2    ( 1994-08-28 ) 28 August 1994 (age 27) Ksar He...   1.67 m (5 ft 6 in)
3    ( 1997-11-15 ) 15 November 1997 (age 24) New Y...  1.80 m (5 ft 11 in)
4    ( 1995-07-25 ) 25 July 1995 (age 26) Athens , ...   1.72 m (5 ft 8 in)
..                                                 ...                  ...
145  ( 1995-08-14 ) 14 August 1995 (age 26) Montpel...   1.68 m (5 ft 6 in)
146  ( 1993-02-09 ) 9 February 1993 (age 29) Prevez...                  NaN
147  ( 1994-08-29 ) 29 August 1994 (age 27) Rocourt...  1.78 m (5 ft 10 in)
148  ( 1994-02-20 ) 20 February 1994 (age 28) Mykol...   1.75 m (5 ft 9 in)
149  ( 1997-03-12 ) 12 March 1997 (age 25) Libramon...   1.70 m (5 ft 7 in)

       Turned pro                               Plays  \
0    October 2016  Right-handed (two-handed backhand)
1            2010  Right-handed (two-handed backhand)
2            2010  Right-handed (two-handed backhand)
3            2015  Right-handed (two-handed backhand)
4            2015  Right-handed (two-handed backhand)
..            ...                                 ...
145           NaN                        Right-handed
146          2008  Right-handed (two handed backhand)
147           NaN   Left-handed (two-handed backhand)
148          2009  Right-handed (two-handed backhand)
149          2012  Right-handed (two-handed backhand)

                                                 Coach  ... Other names  \
0                                   Tomasz Wiktorowski  ...         NaN
1                                                  NaN  ...         NaN
2                                        Issam Jellali  ...         NaN
3                                         Jorge García  ...         NaN
4    Thomas Johansson (2017–18) Mark Petchey (2018)...  ...         NaN
..                                                 ...  ...         ...
145                                                NaN  ...         NaN
146                                                NaN  ...         NaN
147                           Germain Gigounon (–2020)  ...         NaN
148                                  Jaroslav Levinsky  ...         NaN
149  Pierre Bouteyre (2010-Jun 2016) Georges Goven ...  ...         NaN

    Occupation Website Australian Open Junior    Birthday  \
0          NaN     NaN                    NaN  2001-05-31
1          NaN     NaN                    NaN  1995-12-24
2          NaN     NaN                    NaN  1994-08-28
3          NaN     NaN                    NaN  1997-11-15
4          NaN     NaN                    NaN  1995-07-25
..         ...     ...                    ...         ...
145        NaN     NaN                    NaN  1995-08-14
146        NaN     NaN                    NaN  1993-02-09
147        NaN     NaN                    NaN  1994-08-29
148        NaN     NaN                    NaN  1994-02-20
149        NaN     NaN                    NaN  1997-03-12

                   Birthplace height m Win Percentage       prize  \
0             Warsaw , Poland     1.76           79.5  11256372.0
1           Tallinn , Estonia     1.74           66.5   7464976.0
2       Ksar Hellal , Tunisia     1.67           64.5   6239483.0
3    New York , United States     1.80           64.9   4748445.0
4             Athens , Greece     1.72           60.8   6915435.0
..                        ...      ...            ...         ...
145      Montpellier , France     1.68            NaN    178962.0
146          Preveza , Greece      NaN           63.5    291966.0
147  Rocourt , Liège, Belgium     1.78           60.9   1007808.0
148        Mykolaiv , Ukraine     1.75           60.7   2103792.0
149       Libramont , Belgium     1.70           54.8   1651791.0

               website
0                 None
1    anettkontaveit.ee
2                 None
3                 None
4                 None
..                 ...
145               None
146               None
147               None
148               None
149               None

[150 rows x 35 columns]>