In [1]:
from bs4 import BeautifulSoup as bs
import requests

url = "https://www.espn.com/tennis/rankings/_/type/wta"
data = requests.get(url).text
soup = bs(data, "html.parser")
ths = soup.find_all("th")
trs = soup.find_all("tr")

player_info_list = []

def clean_tag(soup):
    for tag in soup.find_all("sup"):
        tag.decompose()

def get_player_info(url):
    
    data = requests.get(full_url).text
    soup = bs(data, "html.parser")

    table = soup.find(class_="infobox vcard")
    rows = soup.find_all("tr")

    clean_tag(soup)
    player = {}

    for index, row in enumerate(rows):
        if len(row) == 1:
            continue
        elif index <= 20:
            try:
                dict_key = row.find("th").get_text(" ", strip=True).replace("\xa0", " ").replace("\n", " ")
                dict_value = row.find("td").get_text(" ", strip=True).replace("\xa0", " ").replace("\n", " ")
                player[dict_key] = dict_value
            except Exception as e:
                
                pass
        else:
            continue

    return player


for index, tr in enumerate(trs):
    player_info = {}
    if index == 0:
        continue
    else:
        tds = tr.find_all("td")
        row = [td.get_text() for td in tds]
        
        player_info["Rank"] = row[0]
        player_name = row[2]
        player_info["Name"] = player_name
        player_info["Points"] = row[3]
                
        wiki_url = "https://en.wikipedia.org/wiki/"
        relative_url = player_name.replace(" ", "_")
        full_url = wiki_url + relative_url
        
        player = get_player_info(full_url)
        for k, v in player.items():
            player_info[k] = v
    
    player_info_list.append(player_info)

In [2]:
import re

birth_date = r"\d{4}-\d{2}-\d{2}"
percentage = r"\d\d\.\d"
number = r"\d+(,\d{3})*\.*\d*"
height= r"\d\.\d{2}"
height2=r"\d{3}"
url=r"(http)?(://)?(www.)?[a-zA-Z0-9 -._]*\.\w+"

In [3]:
def get_birthplace(phrase):
    if phrase is None:
        return None
    else:
        return " ".join(str(phrase).split(" ")[8:])
    
def get_birthday(phrase):
    if re.search(birth_date, str(phrase)) is not None:
        return re.search(birth_date, str(phrase)).group()
    else:
        return None

def get_height(phrase):
    if re.search(height, str(phrase)) is not None:
        return float(re.search(height, phrase).group())
    elif re.search(height2, str(phrase)) is not None:
        return int(re.search(height2, phrase).group())/100
    else:
        return None
    
def get_percentage(phrase):
    if re.search(percentage, str(phrase)) is not None:
        return float(re.search(percentage, phrase).group())
    else:
        return None
    
def get_prize(money):
    if re.search(number, str(money)) is not None:
        return int(re.search(number, money).group().replace(",", ""))
    else:
        return None  
    
def get_website(phrase):
    if re.search(url, str(phrase)) is not None:
        return re.search(url, str(phrase)).group()
    else:
        return None

In [4]:
import pandas as pd
df = pd.DataFrame(player_info_list)

df["Birthday"]=df["Born"].apply(lambda x: get_birthday(x))
df["Birthplace"]=df["Born"].apply(lambda x: get_birthplace(x))
df["height m"]=df["Height"].apply(lambda x: get_height(x))
df["Win Percentage"]=df["Career record"].apply(lambda x: get_percentage(x))
df["prize"]=df["Prize money"].apply(lambda x: get_prize(x))
df["website"]=df["Official website"].apply(lambda x: get_website(x))

In [5]:
from datetime import datetime as dt
today = dt.now().strftime("%y_%m_%d")
df.to_excel(f"WTA_Player_{today}.xlsx", index=False, sheet_name=f"Top150_WTA_{today}")

In [6]:
df.head

<bound method NDFrame.head of     Rank                Name Points  \
0      1         Iga Swiatek  8,631
1      2     Anett Kontaveit  4,511
2      3        Paula Badosa  4,245
3      4          Ons Jabeur  4,150
4      5     Aryna Sabalenka  4,145
..   ...                 ...    ...
145  146          Qiang Wang    441
146  147  Anastasia Gasanova    432
147  148            Yue Yuan    431
148  149     Arina Rodionova    428
149  150         Fiona Ferro    427

                                Country (sports)              Residence  \
0                                         Poland        Raszyn , Poland
1                                        Estonia       Viimsi , Estonia
2                                          Spain            Dubai , UAE
3                                        Tunisia                  Tunis
4                                        Belarus  Miami , Florida, U.S.
..                                           ...                    ...
145                                          NaN                    NaN
146                                       Russia                    NaN
147                                          NaN                    NaN
148  Russia (2004–2014) Australia (2014–present)  Melbourne , Australia
149                                       France      Valbonne , France

                                                  Born               Height  \
0    ( 2001-05-31 ) 31 May 2001 (age 21) Warsaw , P...   1.76 m (5 ft 9 in)
1    ( 1995-12-24 ) 24 December 1995 (age 26) Talli...   1.74 m (5 ft 9 in)
2    ( 1997-11-15 ) 15 November 1997 (age 24) New Y...  1.80 m (5 ft 11 in)
3    ( 1994-08-28 ) 28 August 1994 (age 27) Ksar He...   1.67 m (5 ft 6 in)
4    ( 1998-05-05 ) 5 May 1998 (age 24) Minsk, Belarus   1.82 m (6 ft 0 in)
..                                                 ...                  ...
145                                                NaN                  NaN
146  ( 1999-05-15 ) 15 May 1999 (age 23) Saratov , ...                  NaN
147  ( 1987-07-23 ) 23 July 1987 (age 34) Weifang ,...   1.84 m (6 ft 0 in)
148  ( 1989-12-15 ) 15 December 1989 (age 32) Tambo...   1.68 m (5 ft 6 in)
149  ( 1997-03-12 ) 12 March 1997 (age 25) Libramon...   1.70 m (5 ft 7 in)

       Turned pro                               Plays  \
0    October 2016  Right-handed (two-handed backhand)
1            2010  Right-handed (two-handed backhand)
2            2015  Right-handed (two-handed backhand)
3            2010  Right-handed (two-handed backhand)
4            2015  Right-handed (two-handed backhand)
..            ...                                 ...
145           NaN                                 NaN
146           NaN  Right-handed (two-handed backhand)
147           NaN                                 NaN
148          2004  Right-handed (two-handed backhand)
149          2012  Right-handed (two-handed backhand)

                                                 Coach  ... General  \
0                                   Tomasz Wiktorowski  ...     NaN
1                                                  NaN  ...     NaN
2                                         Jorge García  ...     NaN
3                                        Issam Jellali  ...     NaN
4                                         Anton Dubrov  ...     NaN
..                                                 ...  ...     ...
145                                                NaN  ...     NaN
146                Elena Brioukhovets (2013 – present)  ...     NaN
147                                                NaN  ...     NaN
148                                                NaN  ...     NaN
149  Pierre Bouteyre (2010-Jun 2016) Georges Goven ...  ...     NaN

    National libraries Other Nationality    Birthday  \
0                  NaN   NaN         NaN  2001-05-31
1                  NaN   NaN         NaN  1995-12-24
2                  NaN   NaN         NaN  1997-11-15
3                  NaN   NaN         NaN  1994-08-28
4                  NaN   NaN         NaN  1998-05-05
..                 ...   ...         ...         ...
145                NaN   NaN         NaN        None
146                NaN   NaN         NaN  1999-05-15
147                NaN   NaN       China  1987-07-23
148                NaN   NaN         NaN  1989-12-15
149                NaN   NaN         NaN  1997-03-12

                               Birthplace height m Win Percentage       prize  \
0                         Warsaw , Poland     1.76           79.5  11256372.0
1                       Tallinn , Estonia     1.74           66.5   7464976.0
2                New York , United States     1.80           64.9   4748445.0
3                   Ksar Hellal , Tunisia     1.67           64.2   6121459.0
4                          Minsk, Belarus     1.82           65.7  10478895.0
..                                    ...      ...            ...         ...
145                                            NaN            NaN         NaN
146                      Saratov , Russia      NaN           52.8    212060.0
147                       Weifang , China     1.84            NaN         NaN
148  Tambov , Russian SFSR , Soviet Union     1.68           51.9   1853389.0
149                   Libramont , Belgium     1.70           54.8   1651791.0

                website
0                  None
1     anettkontaveit.ee
2                  None
3                  None
4    arynasabalenka.com
..                  ...
145                None
146                None
147                None
148       rodionova.com
149                None

[150 rows x 40 columns]>