In [2]:
from bs4 import BeautifulSoup as bs
import requests

url = "https://www.espn.com/tennis/rankings/_/type/wta"
data = requests.get(url).text
soup = bs(data, "html.parser")
ths = soup.find_all("th")
trs = soup.find_all("tr")

player_info_list = []

def clean_tag(soup):
    for tag in soup.find_all("sup"):
        tag.decompose()

def get_player_info(url):
    
    data = requests.get(full_url).text
    soup = bs(data, "html.parser")

    table = soup.find(class_="infobox vcard")
    rows = soup.find_all("tr")

    clean_tag(soup)
    player = {}

    for index, row in enumerate(rows):
        if len(row) == 1:
            continue
        elif index <= 20:
            try:
                dict_key = row.find("th").get_text(" ", strip=True).replace("\xa0", " ").replace("\n", " ")
                dict_value = row.find("td").get_text(" ", strip=True).replace("\xa0", " ").replace("\n", " ")
                player[dict_key] = dict_value
            except Exception as e:
                
                print(e)
        else:
            continue

    return player


for index, tr in enumerate(trs):
    player_info = {}
    if index == 0:
        continue
    else:
        tds = tr.find_all("td")
        row = [td.get_text() for td in tds]
        
        player_info["Rank"] = row[0]
        player_name = row[2]
        player_info["Name"] = player_name
        player_info["Points"] = row[3]
                
        wiki_url = "https://en.wikipedia.org/wiki/"
        relative_url = player_name.replace(" ", "_")
        full_url = wiki_url + relative_url
        
        player = get_player_info(full_url)
        for k, v in player.items():
            player_info[k] = v
    
    player_info_list.append(player_info)

'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'
'NoneType' object has no attribute 'get_text'

In [3]:
import re

birth_date = r"\d{4}-\d{2}-\d{2}"
percentage = r"\d\d\.\d"
number = r"\d+(,\d{3})*\.*\d*"
height= r"\d\.\d{2}"
height2=r"\d{3}"
url=r"(http)?(://)?(www.)?[a-zA-Z0-9 -._]*\.\w+"

In [4]:
def get_birthday(phrase):
    if phrase == None:
        return None
    else:
        return str(phrase).lstrip("( ").split(" ")[0]
    
def get_birthplace(phrase):
    if phrase == None:
        return None
    else:
        return " ".join(str(phrase).split(" ")[8:])

def get_height(phrase):
    if re.search(height, str(phrase)) != None:
        return float(re.search(height, phrase).group())
    elif re.search(height2, str(phrase))!= None:
        return int(re.search(height2, phrase).group())/100
    else:
        return None
    
def get_percentage(phrase):
    if re.search(percentage, str(phrase)) != None:
        return float(re.search(percentage, phrase).group())
    else:
        return None
    
def get_prize(money):
    if re.search(number, str(money)) != None:
        return int(re.search(number, money).group().replace(",", ""))
    else:
        return None  
    
def get_website(phrase):
    if re.search(url, str(phrase)) != None:
        return re.search(url, str(phrase)).group()
    else:
        return None

In [5]:
import pandas as pd
df = pd.DataFrame(player_info_list)

df["Birthday"]=df["Born"].apply(lambda x: get_birthday(x))
df["Birthplace"]=df["Born"].apply(lambda x: get_birthplace(x))
df["height m"]=df["Height"].apply(lambda x: get_height(x))
df["Win Percentage"]=df["Career record"].apply(lambda x: get_percentage(x))
df["prize"]=df["Prize money"].apply(lambda x: get_prize(x))
df["website"]=df["Official website"].apply(lambda x: get_website(x))

In [6]:
from datetime import datetime as dt
today = dt.now().strftime("%y_%m_%d")
df.to_excel(f"WTA_Player_{today}.xlsx", index=False, sheet_name=f"Top150_WTA_{today}")

In [7]:
df.head

<bound method NDFrame.head of     Rank                Name Points Country (sports)  \
0      1         Iga Swiatek  7,061           Poland
1      2  Barbora Krejcikova  4,911   Czech Republic
2      3       Maria Sakkari  4,726           Greece
3      4        Paula Badosa  4,545            Spain
4      5     Anett Kontaveit  4,446          Estonia
..   ...                 ...    ...              ...
145  146       Asia Muhammad    438    United States
146  147         Sofia Kenin    433    United States
147  148    Mirjam Bjorklund    433           Sweden
148  149        Gabriela Lee    432          Romania
149  150   Alexandra Ignatik    431          Romania

                        Residence  \
0                 Raszyn , Poland
1       Ivančice , Czech Republic
2                             NaN
3                     Dubai , UAE
4                Viimsi , Estonia
..                            ...
145            Las Vegas , Nevada
146  Pembroke Pines, Florida , US
147            Stockholm , Sweden
148                           NaN
149           Bucharest , Romania

                                                  Born               Height  \
0    ( 2001-05-31 ) 31 May 2001 (age 20) Warsaw , P...   1.76 m (5 ft 9 in)
1    ( 1995-12-18 ) 18 December 1995 (age 26) Brno ...  1.78 m (5 ft 10 in)
2    ( 1995-07-25 ) 25 July 1995 (age 26) Athens , ...   1.72 m (5 ft 8 in)
3    ( 1997-11-15 ) 15 November 1997 (age 24) New Y...  1.80 m (5 ft 11 in)
4    ( 1995-12-24 ) 24 December 1995 (age 26) Talli...   1.74 m (5 ft 9 in)
..                                                 ...                  ...
145  ( 1991-04-04 ) April 4, 1991 (age 31) Long Bea...  1.78 m (5 ft 10 in)
146  ( 1998-11-14 ) November 14, 1998 (age 23) Mosc...   5 ft 7 in (1.70 m)
147  ( 1998-07-29 ) 29 July 1998 (age 23) Stockholm...   1.70 m (5 ft 7 in)
148  ( 1995-08-23 ) 23 August 1995 (age 26) Galați ...   1.72 m (5 ft 8 in)
149       ( 1990-05-03 ) 3 May 1990 (age 32) Bucharest   1.70 m (5 ft 7 in)

       Turned pro                               Plays  \
0    October 2016  Right-handed (two-handed backhand)
1             NaN  Right-handed (two-handed backhand)
2            2015  Right-handed (two-handed backhand)
3            2015  Right-handed (two-handed backhand)
4            2010  Right-handed (two-handed backhand)
..            ...                                 ...
145          2007  Right-handed (two-handed backhand)
146          2017  Right-handed (two-handed backhand)
147          2017  Right-handed (two-handed backhand)
148           NaN   Left-handed (one-handed backhand)
149           NaN  Right-handed (two-handed backhand)

                                                 Coach  ... Other names  \
0                                   Tomasz Wiktorowski  ...         NaN
1                            Aleš Kartus; Petr Kovačka  ...         NaN
2    Thomas Johansson (2017–18) Mark Petchey (2018)...  ...         NaN
3                                         Jorge García  ...         NaN
4                                      Dmitry Tursunov  ...         NaN
..                                                 ...  ...         ...
145                                                NaN  ...         NaN
146                                                NaN  ...         NaN
147                                                NaN  ...         NaN
148                                                NaN  ...         NaN
149                                                NaN  ...         NaN

    Occupation Website Nationality    Birthday                Birthplace  \
0          NaN     NaN         NaN  2001-05-31           Warsaw , Poland
1          NaN     NaN         NaN  1995-12-18     Brno , Czech Republic
2          NaN     NaN         NaN  1995-07-25           Athens , Greece
3          NaN     NaN         NaN  1997-11-15  New York , United States
4          NaN     NaN         NaN  1995-12-24         Tallinn , Estonia
..         ...     ...         ...         ...                       ...
145        NaN     NaN         NaN  1991-04-04   Long Beach , California
146        NaN     NaN         NaN  1998-11-14           Moscow , Russia
147        NaN     NaN         NaN  1998-07-29        Stockholm , Sweden
148        NaN     NaN         NaN  1995-08-23          Galați , Romania
149        NaN     NaN         NaN  1990-05-03                 Bucharest

    height m Win Percentage      prize              website
0       1.76           78.9  8929786.0                 None
1       1.78           65.0  7389671.0                 None
2       1.72           60.7  6702048.0                 None
3       1.80           65.0  4270015.0                 None
4       1.74           66.6  7399409.0    anettkontaveit.ee
..       ...            ...        ...                  ...
145     1.78           65.4  1478948.0                 None
146     1.70           63.1  7733926.0       sonyakenin.com
147     1.70           53.8   161460.0  mirjambjorklund.com
148     1.72           57.9   196225.0                 None
149     1.70           52.5  1006475.0                 None

[150 rows x 35 columns]>